*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    
    justify-content: space-evenly;
    width: 100%;
}

h1, h2 {
    margin: 10px;
    text-align: center;
    color: brown;
}

.total-value, .form-container, .investment-list, .chart-container {
    background: whitesmoke;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px orange;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

form button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: aquamarine;
    color: blue;
    cursor: pointer;
    font-weight: bold;
}

form button:hover {
    background: aqua;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
}

